.gifContainer {
  width: 90vw;
  margin: auto;
}

.gifDescriptionContainer {
  height:100vh;
}

.gifMainSection {
  margin-top: 0;
}

.gifVideoContainer {
  display: flex;
  justify-content: center;
  margin-top: -26px;
}

.gifLaptopMockup {
  z-index: -50000;
  height: 93vh;
  width: 87vw;
}
