.gifWrapper {
  width: 90vw;
  margin: auto;
}

.gifContainer {
  display: flex;
  justify-content: center;
  width: 75vw;
  margin: auto;
  align-items: center;
}

.gifDescriptionContainer {
    max-width: 444px;
  padding-left: 25%;
}

.gifMainSection {
  margin-top: 0;
}

/* MOCKUPS */
.gifLaptopMockup {
  z-index: -50000;
  height: 86vh;
  width: 100vw;
}
.gifVideoContainer {
  display: flex;
  justify-content: center;
  height:100vh;
}

.gifPhoneMockup {
  height: 87vh;
}

