.gifWrapper {
  width: 90vw;
  margin: auto;
}

.gifDescriptionContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.gifMainSection {
  margin-top: 0;
}

/* MOCKUPS */
.gifLaptopMockup {
  z-index: -50000;
  height: 86vh;
  width: 100vw;
}
.gifVideoContainer {
  display: flex;
  justify-content: center;
  height:100vh;
}

.gifPhoneMockup {
  height: 75vh;
}
