



.pageContainer {
      width: 90vw;
    margin: auto;
}



.descriptionContainer h4 {
  font-weight: lighter;
    font-size: 3rem;
}

.mockupContainer {
  display:flex;
/*  justify-content: space-between;
*/  margin-bottom: 5%;
}



.mockup {
  height:85vh;

    margin-right: 20px;
}






