/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .project {
    margin-bottom: 50px;
  }

  .introduction p {
    width: 90vw !important;
    margin: auto;
  }

  .navbarLink {
    margin-right: 8px;
  }

  .descriptionContainer {
    grid-template:none;
  }
}
