/* layouts and containers */
.moodmatchContainer {
  display: flex;
  justify-content: center;
  width: 60vw;
  margin: auto;
  align-items: center;
}

.moodmatchDescriptionContainer {
  padding-left: 25%;
}

.moodmatchDescriptionContainer h4 {
  font-weight:bold;
}

.moodmatchDescriptionContainer p {
  font-size: .9rem;
}

.moodmatchDescriptionContainer {
  padding-left: 25%;
}

/* video */
.moodmatchiphonecrop {
  height:87vh;
}

.moodmatchVideoContainer {
  display: flex;
  justify-content: center;
  height:100vh;
  align-items: center;
}
