/* LAYOUT OF PROJECTS CONTAINERS ON INDIVIDUAL PAGE */
.pageContainer {
  width: 90vw;
  padding-top:6%;
  margin: auto;
}

.pageContainer h1 {
  font-weight: lighter;
  font-size: 3rem;
}

.descriptionContainer {
  display: grid;
  padding-bottom:1%;
  padding-top:2%;
  font-size:.9rem;
  grid-gap: 2em;
  grid-template: auto/repeat(3,minmax(0,1fr));
}

/* MOCK UP CONTAINERS */
.mockupContainer {
  display:flex;
  margin-bottom: 2%;
}

.mockup {
  height:85vh;
  margin-right: 20px;
}

/* mood match extra screenshot  */
.moodmatchScreenshotContainer {
  border: 58px solid #f3f3f3f3;
  margin-bottom:50px;
}

.moodmatchScreenshot {
  width:100%;
  height:100%;
}

/* skate city border adjustment  */
.skatecityBorder {
  border: 27px solid #f3f3f3f3;
  height:65vh;
}
