/* LAYOUT OF PROJECTS CONTAINERS ON INDIVIDUAL PAGE */
.pageContainer {
  width: 90vw;
  padding-top:6%;
  margin: auto;
}

.pageContainer h1 {
  font-weight: lighter;
  font-size: 3rem;
}

/* project description */
.descriptionContainer {
  display: grid;
  padding-bottom:1%;
  padding-top:2%;
  font-size:.9rem;
  grid-gap: 2em;
  grid-template: auto/repeat(3,minmax(0,1fr));
}

.projectInfo {
  margin-top:40px;
  font-size:1rem;
}

/* MOCK UP CONTAINERS */
.mockupContainer {
  padding-left:0;
  margin-bottom: 30px;
}
.mockup {
  max-height:85vh;
}

.extrapaddingScreenshot {
  padding-left: 15px;
  padding-top: 0px;
}

.phone .mockup {
  margin-left: 5px;
}

/* mood match extra screenshot  */
.moodmatchScreenshotContainer {
  border: 58px solid #f3f3f3f3;
}

.moodmatchScreenshot {
  width:100%;
  height:100%;
}

/* skate city border adjustment  */
.skatecityBorder {
  border: 27px solid #f3f3f3f3;
  height:65vh;
}
