@import "todolist.css";
@import "projects.css";
@import "mediaqueries.css";

html {
  scroll-behavior: smooth;
}

/* NAME */
  header h1 {
  font-size: 20px;
  font-weight: normal;
}

/* INTRO SECTION */
.introduction p {
  font-size: 19px;
  font-weight: lighter;
}

.introduction span {
  background-color: #b78497;
  color: white;
  opacity: .65;
}

.introduction h1 {
  font-weight:lighter;
}

.introduction {
  width:42vw;
}

/* HEADER */
 header {
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
  width: 90vw;
  margin: auto;
  font-weight: bold;
}

/* MAIN SECTION */
  main {
    margin-top: 132px;
  }

/* container of index page */
.wrapper {
  width: 90vw;
  margin: auto;
}

/* NAV BAR  */
  nav {
  display:flex;
}

.navbarLink {
  margin-right:26px;
}

a {
  color: #2f2f2f;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color:#b78497;
  text-decoration: none;
  background-color: transparent;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

/* PROJECT SECTION */
.container {
  margin-right: 0;
  margin-left: 0;
  margin-top: 66px;
  padding-left:0;
}
.workSection h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-top:15px;
}

.workSection p {
  font-weight:lighter;
  text-decoration: none;
}

/* LAYOUT OF PROJECTS ON INDEX PAGE */
.projectWrapper:hover {
  transition: all .5s ease;
  transform: translate(0, -10px);
}

.project {
  padding-right: 10px;
}
.project p {
  opacity: .6;
}

.projectWrapper {
  display: flex;
  justify-content: center;
  border: 28px solid #f3f3f3f3;
  height:79%;
}

.projectScreenshot {
  width:100%;
  height:100%;
}

/* footer */
footer p {
  font-size: .75rem;
  text-align: center;
}

footer {
  margin-top: 100px;
}
