@import "todolist.css";
@import "projects.css";
@import "moodmatch.css";
@import "skatecity.css";

/* NAME */
  header h1 {
  font-size: 20px;
  font-weight: normal;
}

/* INTRO SECTION */
.description p {
  font-size: 19px;
  width: 55vw;
  font-weight: lighter;
}

.description span {
  font-weight: normal;
}

/* HEADER */
 header {
  width: 100%;
  /* position: fixed; */
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
  width: 90vw;
  margin: auto;
  font-weight: bold;
}

/* MAIN SECTION */
  main {
    margin-top: 55px;
  }

/* container of index page */
.wrapper {
  width: 90vw;
  margin: auto;
}

/* NAV BAR  */
  nav {
  display:flex;
}

.link {
  margin-right:36px;
}

/* work section grid */
.container {
  margin-right: 0;
  margin-left: 0;
  margin-top: 66px;
}
.workSection h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-top:15px;
}

.workSection p {
  font-weight:lighter;
  text-decoration: none;
}




.project {
  padding-right: 10px;
}


.projectWrapper:hover {
  transition: all .5s ease;
  transform: translate(0, -10px);
}

.project p {
  opacity: .6;
}


/* footer */
footer p {
  font-size: .75rem;
  text-align: center;
}

footer {
  margin-top: 100px;
}



.moodmatchScreenshotContainer {
  border: 58px solid #f3f3f3f3;
  margin-bottom:50px;
}

.moodmatchScreenshot {
  width:100%;
  height:100%;
}







