.body {
  font-family: helvetica;
}

/* NAME */
.name h1 {
  font-size: 50px;
  color: #141414;
  font-weight: lighter;
}

/* INTRO */
.description p {
  font-size: 21px;
  width: 44%;
  font-weight: lighter;
}
