/* layouts and containers */
.todoContainer {
  display: flex;
  justify-content: center;
  width: 75vw;
  margin: auto;
  align-items: center;
}

/* video */
.todoVideo {
  height:100vh;
}

/* link to heroku */
a {
  color: mediumturquoise;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: turquoise;
  text-decoration: none;
  background-color: transparent;
}


.todoDescriptionContainer {
      /* flex: 0 0 50%; */
    /* display: flex; */
    /* flex-direction: column; */
    width: 34vw;
    /* margin: auto; */
    /* justify-content: center; */
    /* margin: -11%; */
    padding-right: 5%;
}
