/* layouts and containers */
.todoContainer {
  display: flex;
  justify-content: center;
  width: 75vw;
  margin: auto;
  align-items: center;
}

.todoDescriptionContainer {
  width: 34vw;
  padding-right: 5%;
}

.todoDescriptionContainer h4 {
  font-weight:bold;
}

/* video */
.todoVideo {
  height:87vh;
}

/* link to heroku */
a {
  color: mediumturquoise;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: turquoise;
  text-decoration: none;
  background-color: transparent;
}
